<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" verbose="2" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="reporting.TestListener" />
    </listeners>

    <test name="API Tests" preserve-order="true" parallel="methods" thread-count="3" enabled="true">
        <classes>
            <class name="airlines.AirlineTests">
                <methods>
                    <include name="createAirline" />
                </methods>
            </class>
        </classes>
    </test>
</suite>